# 构建 VitePress 站点并将其部署到 GitHub Pages 的工作流程
name: Deploy VitePress site to Pages

on:
  # 在针对 `master` 分支的推送上运行。如果你
  # 使用 `main` 分支作为默认分支，请将其更改为 `main`
  push:
    branches: [master]

  # 允许你从 Actions 选项卡手动运行此工作流程
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限，以允许部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许同时进行一次部署，跳过正在运行和最新队列之间的运行队列
# 但是，不要取消正在进行的运行，因为我们希望允许这些生产部署完成
concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  # 构建工作
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # 如果未启用 lastUpdated，则不需要
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: pnpm
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Install dependencies
        run: pnpm install
      - name: Build with VitePress
        run: pnpm docs:build
      - name: Setup custom domain
        if: vars.CNAME != ''
        run: echo -e "${{ vars.CNAME }}" > src/.vitepress/dist/CNAME
      - name: Setup robots.txt
        if: vars.ROBOTS != ''
        run: echo -e "${{ vars.ROBOTS }}" > src/.vitepress/dist/robots.txt
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: src/.vitepress/dist

  # 部署工作
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download built artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: dist
      
      - name: Extract artifact
        run: |
         mkdir output
         tar -xf dist/artifact.tar -C output

      - name: Init new repo
        run: |
          cd output
          git init
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote add origin https://${{ secrets.DEPLOY_REPO_PAT }}@github.com@github.com/ColourfulWhite/test-vitepress-deploy.git
          git checkout -b gh-pages
          git add .
          git commit -m "Deploy from master"
          git push origin gh-pages -f -q
